/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-bg: #568eac;
    --primary-color: #568eac;
    --secondary-bg: #ffffff;
    --secondary-color: #568eac;
    --hover-bg: #568eac;
    --hover-color: #ffffff;
}

body {
    font-family: Arial, sans-serif;
    background-color: #686868;
}

.header, .sidebar {
    background-color: var(--primary-bg);
    color: var(--primary-color);
}

.header {
    padding: 10px;
    text-align: center;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.header img {
    max-width: 100px;
    max-height: 60px;
    height: auto;
    width: auto;
}

.nav {
    display: flex;
    gap: 15px;
    flex: 1;
    justify-content: center;
}

.nav a {
    text-decoration: none;
    color: var(--primary-color);
    padding: 10px;
    border-radius: 10px;
}

.user-profile-container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
}

.container {
    display: flex;
}

.main-content {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.search-bar form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto 20px;
}

.search-input {
    width: 600px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    box-sizing: border-box;
    height: 40px;
}

.search-button {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-left: none;
    cursor: pointer;
    padding: 9px;
    border-radius: 0 5px 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.search-button img {
    width: 20px;
    height: 20px;
}

.sidebar, .nav {
    padding: 20px;
}

.sidebar ul, .nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li, .nav ul li {
    background-color: var(--secondary-bg);
    margin: 10px 0;
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

.sidebar ul li a, .nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bold;
}

.sidebar ul li:hover, .nav ul li:hover {
    background-color: var(--hover-bg);
    color: var(--hover-color);
}

.sidebar ul li:hover a, .nav ul li:hover a {
    color: var(--hover-color);
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.white-box {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.white-box img {
    margin-right: 10px;
}

.button {
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    color: var(--secondary-color);
    background-color: var(--secondary-bg);
    border: none;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    width: 10%;
    margin: 10px 0;
}

.button:hover {
    background-color: var(--hover-bg);
    color: var(--hover-color);
}
