<!-- This file contains the HTML structure and styles for the Dashboard Header.
     It includes navigation links for various sections of the dashboard, such as Inventory Tracking, Inventory Report, and Purchasing Management. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <!-- Link to common CSS styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common.css') }}">
</head>
<body>
<div class="container">
    <div class="main-content dashboard-container">
        <a href="{{ url_for('dashboard') }}" class="dashboard-button">Back</a>
        <a href="{{ url_for('inventory_tracking') }}" class="dashboard-button">Inventory Tracking</a>
        <a href="{{ url_for('inventory_report') }}" class="dashboard-button">Inventory Report</a>
        {% if session['role'] == 'admin'%}
            <a href="{{ url_for('purchase') }}" class="dashboard-button">Purchasing Management</a>
            <a href="{{ url_for('stock_management') }}" class="dashboard-button">Stock Management</a>

        {% endif %}
    </div>
</div>
</body>
</html>