</head>
<body>
<div class="header">
    <a href="{{ url_for('home') }}">
        <div class="white-box">
            <img src="{{ url_for('static', filename='header/logo.png') }}" alt="Logo">
            <h1>WMGInvent</h1>
        </div>
    </a>
    <div class="nav">
        {% include 'resources/menu.html' %}
    </div>
    <div class="user-profile-container">
        <a href="{{ url_for('profile') }}">
            {% include 'resources/user.html' %}
        </a>
    </div>
</div>
</body>
</html>