<!-- This file contains the HTML structure for the sidebar section of the website.
     It includes navigation links to different categories such as Outdoor, Indoor, Summer, Winter, Autumn, and Seeds. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sidebar</title>
    <!-- Link to common CSS styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common.css') }}">
</head>
<body>
<div class="sidebar">
    <ul>
        <li><a href="/">Outdoor</a></li>
        <li><a href="/">Indoor</a></li>
        <li><a href="/">Summer</a></li>
        <li><a href="/">Winter</a></li>
        <li><a href="/">Autumn</a></li>
        <li><a href="/">Seeds</a></li>
    </ul>
</div>
</body>
</html>