{% include 'menu.html' %}
{% include 'header.html' %}

<style>
    .grid {
        grid-template-columns: repeat(3, 1fr);
        display: flex;
        justify-content: center;
        width: calc(100% - 40px);
        gap: 0; /* Adjusts gaps between elements */
        margin: auto; /* Ensures no margin around grid */
        padding: 0; /* Ensures no padding inside grid */
        position: relative;
    }

    .item {
        margin-left: -20px;
        margin-right: -20px;
        background-color: #ddd;
        text-align: center;
        transition: transform 0.3s ease-in-out;
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    .item img {
        width: 100%;
        height: auto;
        display: block;
        transition: transform 0.3s ease-in-out;
    }

    .item:nth-child(1) {
        clip-path: polygon(0 0, 100% 0%, calc(100% - 50px) 100%, 0% 100%);
    }

    .item:nth-child(2) {
        clip-path: polygon(50px 0, 100% 0%, calc(100% - 50px) 100%, 0% 100%);
    }

    .item:nth-child(3) {
        clip-path: polygon(50px 0, 100% 0%, 100% 100%, 0% 100%);
    }

    .item:hover {
        transform: scale(1.1);
        z-index: 10;
    }

</style>
<div class="container">
    <div class="sidebar">
        <ul>
            <li><a href="#">Outdoor</a></li>
            <li><a href="#">Indoor</a></li>
            <li><a href="#">Summer</a></li>
            <li><a href="#">Winter</a></li>
            <li><a href="#">Autumn</a></li>
            <li><a href="#">Seeds</a></li>
        </ul>
    </div>
    <div class="main-content">
        <div class="search-bar">
            <input type="text" placeholder="Search...">
            <img src="search-icon.png" alt="Search">
        </div>
        <div class="grid">
            <div class="item"><img src="/static/summer.jpg" alt="Summer">
                <p>Summer</p></div>
            <div class="item"><img src="/static/autumn.jpg" alt="Autumn">
                <p>Autumn</p></div>
            <div class="item"><img src="/static/winter.jpg" alt="Winter">
                <p>Winter</p></div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
